version: 2
jobs:
  build:
    working_directory: /go/src/github.com/weaveworks/prom-aggregation-gateway
    docker:
      - image: weaveworks/build-golang:1.11.1-stretch
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin

      - run: make lint BUILD_IN_CONTAINER=false
      - run: make cmd/prom-aggregation-gateway/.uptodate BUILD_IN_CONTAINER=false

      - deploy:
          name: Push master image
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u "$DOCKER_REGISTRY_USER" -p "$DOCKER_REGISTRY_PASSWORD"
              docker push weaveworks/prom-aggregation-gateway:$(./tools/image-tag)
              docker push weaveworks/prom-aggregation-gateway:latest
            fi
